* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  body {
    background: #edf2ff;
    font-family: "Roboto", sans-serif;

    a {
      text-decoration: none;
    }
  }
}

.container {
  text-align: center;
  width: 300px;
  margin: 60px auto;

  img {
    width: 100%;

    &.avatar {
      border-radius: 50%;
      width: 100px;
      height: 100px;
      padding: 3.7px;
      border: #4263eb solid 4px;
    }
  }

  h1 {
    font-size: 32px;
    color: #00082f;
    margin-top: 24px;
    margin-bottom: 8px;
  }
}
